################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DataStructuresAlgorithms/.vs/DataStructuresAlgorithms/v17
/DataStructuresAlgorithms/x64/Debug
/DataStructuresAlgorithms/DataStructuresAlgorithms/x64/Debug
